{% extends "layout.html" %}


{% block body %}

        
          <h1 id="hello">Hello!</h1>

          <div id="desc"> 
  

            <p>I'm Shahibur, and recently I've obtained my B.Sc. in Computer Science & Engineering (CSE) from <a href="https://metrouni.edu.bd/" target="_blank">Metropolitan University, Bangladesh</a>. I have been passionate about computer science for 4.5+ years now. I learned multiple programming languages to be the most versatile. I'm experienced in problem solving, algorithm design & analysis, and data structures. I solved programming problems from various online judges. I’ve worked on some academic projects as well as personal projects using various tools and technologies that are interesting and allowed me to improve my skills. (Source codes on <a href="https://github.com/shahibur66" target="_blank">GitHub</a>)

            <p>Having the strongest desire to learn any technology, I can be a technically flexible and great addition to any team.</p>

            <p>My passion lies heavily in Software Engineering, Machine Learning, and Blockchain.</p>

            <p>
              If you're looking to hire, please view some of my other profiles below as well as my projects!
            </p>

          </div>

           <h2 id="links">Links</h2>

           <ul class="ul2"> 

           <li style="padding: 2px;">
             <strong>GitHub : </strong> <a href="https://github.com/shahibur66" target="_blank">@shahibur66</a> 
           </li>

           <li style="padding: 2px;">
             <strong>LinkedIn : </strong> <a href="https://www.linkedin.com/in/shahibur-rahman-aa9549155" target="_blank">@/in/shahibur-rahman</a> 
           </li>

           <li style="padding: 2px;">
              <strong>HackerRank : </strong> <a href="https://www.hackerrank.com/shahibur55" target="_blank">@shahibur55</a>
           </li>
         
           <li style="padding: 2px;">
             <strong>Uva Online Judge : </strong> <a href="https://uhunt.onlinejudge.org/id/848866" target="_blank">@shahibur55</a>
           </li>

          </ul>


	
{% endblock %}