{% extends "layout.html" %}


{% block body %}

	 <h1 id="projects">Projects</h1>
     <div>
          <ul>
            <li style="padding: 5px;">
                <h4 style="text-align: justify; line-height: 1.6;"> Final Year Thesis : An Early Stage of Thyroid Disease Prediction Using Machine Learning Techniques.</h4>
             <p style="padding-top: 0px; text-align: justify;">The purpose of this research is to improve performance of existing popular classification algorithms using machine learning techniques for thyroid disease prediction and implementation in python.</p>
             </li>


            <li style="padding: 5px;">
              <h4> Instant Translator Chatbot : Telegram Chatbot</h4>
             <p style="padding-top: 0px;">Technology used : Python, Google text translator APIs, Telegram APIs
                (<a href="https://github.com/Shahibur66/Instant-Translator-Bot" target="_blank">GitHub</a>)</p>
             </li>


            <li style="padding: 5px;">
             <h4> Trending News App : Desktop App</h4>

             <p style="padding-top: 0px;">Technology used : Python, Tkinter, BeautifulSoup
                (<a href="https://github.com/Shahibur66/Trending-News-App" target="_blank">GitHub</a>)</p>

             </li>

            <li style="padding: 5px;">
             <h4> MU Question Bank : Web Based Project</h4>

            <p style="padding-top: 0px;">Technology used : PHP, MySql, CodeIgniter framework, Javascript, Ajax
                (<a href="https://github.com/Shahibur66/MU-Question-Bank-PHP-CodeIgniter" target="_blank">GitHub</a>)</p>
                
             </li>


            <li style="padding: 5px;">
             <h4> File Separator App : Desktop App</h4>
              
             <p style="padding-top: 0px;">Technology used: Python, Python-Tkinter
                (<a href="https://github.com/Shahibur66/File-Separator-App" target="_blank">GitHub</a>)</p>
                
             </li>


            <li style="padding: 5px;">
             <h4>High School Management System : Desktop App</h4>

             <p style="padding-top: 0px;">Technology used: Java Swing, MySql
                (<a href="https://github.com/Shahibur66/High-School-Management-System" target="_blank">GitHub</a>)</p>
                
             </li>

         
          </ul>

          <p>See more on <a href="https://github.com/shahibur66" target="_blank">GitHub</a>.</p>

	</div>
{% endblock %}
